/* Mesa */
#mesa {
    background-color: #108136;
    border: 1px solid #04551f;
}

#mesa hr {
    border: inherit;
}

#mesa p {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#mesa h2 {
    color: #9dffbb;
}

/* Cartas */
.mao {
    height: 15ch;
    margin-left: 1em;
}

.cartas {
    overflow-x: hidden;
    white-space: nowrap;
}

.carta {
    display: inline-block;

    border: black solid 1px;
    margin: 5px;
    padding: 2ch 1ch;
    min-width: 2ch;
    background-color: #b4c8ff;
    border-color: #6b86d1;

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    animation-name: slideLeft;
    animation-timing-function: cubic-bezier(0, 0.7, 0.5, 1);
}

.carta-oculta {
    background-color: #4561ec;
    border-color: #243baf;
    color: #ffffff;
    font-weight: bold;
}

/* Botões */
#controles {
    margin-top: 1em;
}

#controles button {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    transition: 0.2s all;
}

#controles button:hover {
    cursor: pointer;
}

#controles #comecar-jogo {
    background-color: rgb(80, 113, 255);
    color: #FFFFFF;
}

#controles #comecar-jogo:hover {
    background-color: rgb(119, 151, 255);
}

#controles #comecar-jogo:active {
    background-color: rgb(35, 38, 231);
}

#controles #comprar-carta {
    background-color: transparent;
    border-color: rgb(49, 183, 255);
    color: rgb(49, 183, 255);
}

#controles #comprar-carta:hover {
    background-color: rgb(49, 183, 255);
    color: white;
}

#controles #comprar-carta:active {
    background-color: rgb(8, 119, 179);
    border-color: rgb(8, 119, 179);
    color: white;
}

#controles #pular-jogada {
    background-color: transparent;
    border-color: rgb(214, 24, 24);
    color: rgb(214, 24, 24);
}

#controles #pular-jogada:hover {
    background-color: rgb(214, 24, 24);
    color: white;
}

#controles #pular-jogada:active {
    background-color: rgb(177, 12, 12);
    border-color: rgb(177, 12, 12);
    color: white;
}

#controles *.desativado {
    display: none;
}